<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Document</title>
</head>

<body>
    <div class="cabeca">
        <span class="nome_naveg"><span style="font-size: 10px;">by</span> Gabriel Assis Pereira<span style="color: goldenrod;">.</span></span>
        <nav class="naveg">
            <nav class="naveg">
                <ul class="naveg a">
                    <li><a href="#" data-scroll="home">Início</a></li>
                    <li><a href="#" data-scroll="sobremim">Sobre Mim</a></li>
                    <li><a href="#" data-scroll="projetos">Projetos</a></li>
                    <li><a href="#" data-scroll="contato">Contato</a></li>
                </ul>
            </nav>
    </div>
</body>

</html>